.node {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  .node .selected {
    stroke: black;
  }
  
  .link {
    stroke: #999;
  }
  
  .link2 {
    stroke: #9400d3;
  }
  
  .sel {
    fill:rgb(19, 18, 18);
  }
  
  .brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
  }


  .slidecontainer {
    width: 50%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  .tables {
    width:30%;
    position: absolute;
    top: 300px;
    left: 1030px;
  }

  li.ui-menu-item{
    list-style-type: none;
  }

  #ui-id-1{
    max-height: 300px;
    border: 3px solid;
    overflow-y : scroll; 
  }

  li{
    cursor: pointer;
  }

